 * {
  box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

/*.clear {
  clear: left;*/
}
.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #3c3a3a;
  top: 0;
  z-index: 10;
}

.logo {
  width: 180px;
  margin-top: 0px;

}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px; 
}


.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main-wrapper {
  padding: 95px 0 100px 0;
  background-image: url('gambar sekolah.webp');
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.main-wrapper h1 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.main-wrapper h1:hover {
 opacity: inherit;   
}

.main-wrapper p {
  opacity: 0.8;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 3px;
  color: #ffd84e;
}

.main-wrapper p:hover {
  opacity: inherit;
}


.body-wrapper {
  height: 700px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  
  
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  text-align: center;
}

.lesson {
  text-align: center;
  float: left;
  width: 25%;
  height: 300px;
  margin: 0 auto;
}

.lesson-icon {
overflow: hidden;  
max-width: 200px;
max-height: 200px;
text-align: center;
display: block;
margin-left: 20px;
border-radius: 25px;
}

h4 {
text-align: center;
font-weight: normal;
color: #576574;
margin-right: 35px;
}

p {
    height: 50px;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 35px;
    text-align: center;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
  text-align: center;
  margin-bottom: 50px;
  
}

.btn {
  padding: 10px 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  margin-left: 24px;
}

.btn:hover {
  opacity: 1;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  float: left;
  padding: 20px 50px;
  background-color: #ffd84e;
  display: block;
  padding: 12px 42px;
  border-radius: 100px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  transform: translateY(-6px);
  box-shadow:0 7px#3c3a3a;
  }

.message:active {
  box-shadow: none;
  transform: translateY(-2px);
}

 footer {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #3c3a3a;
  height: 90px;
}

.footer-logo {
  width: 100px;
  float: left;
  padding-top: 5px;
}

.footer-list {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.footer-list li{
    margin-bottom: 15px;
  list-style: none;
  display: inline;
  line-height: 50px;
  padding: 10px;
}
